<div class="wrapper">
    <div class="container"  *ngIf="userAccountLoaded | async">
        <div class="title">
            <mat-icon>person</mat-icon>
            <label>User Accounts</label>
            <button type="button" (click)="toggleClose()" mat-icon-button class="btn-close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="sub-title">UPDATE USER</div>
        <div class="grp-name" style="margin-top: 20px;">USER INFORMATION</div>
        <div class="fields">
            <mat-form-field class="field" appearance="legacy" color="accent">
                <mat-label>FIRST NAME</mat-label>
                <input #txtFirstName (keydown.enter)="updateUser()" class="upper-case" appInputLetterOnly [formControl]="firstname" matInput autocomplete="off">
                <mat-error *ngIf="firstname.errors?.required == true">First Name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="field" appearance="legacy" color="accent">
                <mat-label>LAST NAME</mat-label>
                <input (keydown.enter)="updateUser()" class="upper-case" appInputLetterOnly [formControl]="lastname" matInput autocomplete="off">
                <mat-error *ngIf="lastname.errors?.required == true">Last Name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="field" appearance="legacy" color="accent">
                <mat-label>USER NAME</mat-label>
                <input (keydown.enter)="updateUser()" [formControl]="username" matInput autocomplete="off">
                <mat-error *ngIf="username.errors?.required == true">User Name is required</mat-error>
            </mat-form-field>

            
        </div>

        <ng-container *ngIf="roles$ | async as roles">
            <div class="grp-name">USER ROLE</div>
            <mat-radio-group class="role" [formControl]="role_id" (change)="populatePermissions()">
                <mat-radio-button (keydown.enter)="updateUser()" *ngFor="let role of roles" [value]="role.id">
                    {{role.role_desc}}
                </mat-radio-button>
            </mat-radio-group>
        </ng-container>

        <ng-container *ngIf="permissions; else loadingPermissions">
            <div class="grp-name">PERMISSIONS</div>
            <div class="permissions">
                <ng-container *ngFor="let permission of permissions; let i = index " ;>
                    <mat-checkbox (keydown.enter)="updateUser()" [(ngModel)]="permission.isChecked" color="primary" [value]="permission.id">
                        {{permission.module_desc}}
                    </mat-checkbox>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #loadingPermissions>
            <div class="grp-name"> Loading Permissions...</div>
        </ng-template>

        <div class="actions">
            <button mat-raised-button class="btn-primary btn-component-action"  (click)="updateUser()" [disabled]="!isFormValid()">SAVE</button>
        </div>
    </div>
</div>