<div class="tracker">
    <div class="circle">
        <div class="shape">&nbsp;</div>
        <div class="desc">desc</div>
    </div>
    <div class="line"></div>
    <div class="circle">
        <div class="shape">&nbsp;</div>
        <div class="desc">desc</div>
    </div>
    <div class="line"></div>
    <div class="circle">
        <div class="shape">&nbsp;</div>
        <div class="desc">desc</div>
    </div>
    <div class="line"></div>
    <div class="circle">
        <div class="shape">&nbsp;</div>
        <div class="desc">desc</div>
    </div>
</div>
