<div class="container">
    <div class="header">header</div>
    <div class="sidebar">sidebar</div>
    <div class="main">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate officiis rem alias ex dolor! Sit dicta
            voluptatibus cupiditate voluptate, hic minima accusantium provident eius, in praesentium saepe impedit id
            odit eum soluta quas enim? Explicabo, repudiandae ut porro amet ducimus consequuntur fugiat quibusdam
            expedita voluptatibus cum reprehenderit tenetur iusto dignissimos, odit consectetur enim possimus! Iusto
            nisi, id voluptatibus nesciunt, voluptatem harum excepturi sapiente repudiandae, tempore nostrum illo
            quaerat vitae atque non neque commodi repellat eligendi veniam sint nulla quis modi ab? Numquam sint,
            tenetur dolor harum tempore incidunt sapiente fugiat, consequuntur odio cum porro in doloribus? Unde laborum
            hic saepe sunt dignissimos repellat quasi, aperiam consequatur inventore? Fugiat error labore, et ducimus,
            cupiditate deserunt quo a nihil facilis placeat architecto earum perferendis nesciunt expedita voluptas
            rerum totam sequi eveniet aut corporis aliquam perspiciatis! Nemo deleniti rerum quod ex quibusdam expedita
            beatae ut fugiat, earum quidem sunt voluptates magnam quis voluptatum doloribus ipsa officia. Inventore unde
            consequuntur obcaecati expedita. Maiores ea nesciunt ad odio, veniam aliquid assumenda, tempora molestiae
            perferendis similique vel rerum sed doloribus provident sit ratione consequatur dolor excepturi ipsa
            incidunt natus illum. Porro repudiandae quaerat eveniet dolorem architecto quos dolor, earum necessitatibus,
            pariatur odio dolores reprehenderit quia iure!
        </div>
    </div>
    <div class="footer">footer</div>
</div>