@import "../../shared/scss/theme";

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .container {
        width: 80%;
        height: 500px;
        border-radius: 1em;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 30px;
        gap: 5px;
        background-color: $basic;

        .title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            gap: 5px;
            height: 30px;

            label {
                color: $primary;
                font-size: 18px;
            }
            .btn-close {
                margin-left: auto;
            }
        }

        .actions {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            .btn-archive {
                color: $primary;
            }

            gap: 10px;

            .search {
                margin-left: auto;
                margin-right: 20px;
            }

            .archived {
                width: 100%;
                padding-left: 20px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: 5px;
                .archived-icon {
                    color: $primary;
                }
            }

            @media only screen and (min-width: 200px) {
                mat-form-field {
                    width: 100%;
                }
            }

            @media only screen and (min-width: 900px) {
                mat-form-field {
                    width: 250px;
                }
            }
        }

        .table-list-container {
            // border: 5px solid blue;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            border-radius: 5px;
            height: 296px;
            overflow: auto;

            .table-container {
                width: 100%;

                table {
                    width: 100%;
                    background-color: transparent;
                }

                th {
                    color: gray;
                    font-size: 12px;
                    padding-left: 15px;
                    border-bottom: 2px solid $primary;
                }

                td {
                    text-transform: uppercase;
                    border-right: 1px gray solid;
                    padding-left: 15px;
                    font-size: 12px;
                    font-weight: 100;
                    border-bottom: 1px solid gray;
                    .value {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        gap: 2px;
                    }
                }

                .id {
                    min-width: 70px;
                    max-width: auto;
                }

                .name {
                    min-width: 100px;
                    max-width: auto;
                }

                .role {
                    min-width: 100px;
                    max-width: auto;
                }

                .username {
                    min-width: 100px;
                    max-width: auto;
                }

                .status {
                    min-width: 100px;
                    max-width: auto;
                }

                .status-value {
                    color:#1FB58F;
                    .archived-status {
                        color: $warn;
                    }
                }

                .date-created {
                    min-width: 200px;
                }
                .action-row {
                    min-width: 50px;
                }
            }

            .list-container {
                // border: 5px solid yellow;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;

                // div { border: 1px solid white;}
                .col {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    height: 100%;

                    .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        min-height: 31px;

                        mat-icon {
                            color: $primary;
                        }

                        gap: 5px;
                    }
                }

                .divider-col {
                    width: 5%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    height: 100%;

                    .row {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        min-height: 31px;

                        mat-icon {
                            color: $primary;
                        }

                        gap: 5px;
                    }
                }

            }
        }

        .table-list-container-mobile {
            box-shadow: 1px 1px 5px transparent;
        }



        .paginator {
            width: 100%;
            mat-paginator {
                background-color: transparent;
            }
        }

    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 1em;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(255, 60, 0);
    }
}